@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    max-width: 960px;    /* 최대 너비 */
    margin: auto;         /* 마진 auto - 내용을 화면 가운데 맞추기 위해  */
    font-family: "Noto Sans KR", "Nanum Gothic";        /* 글꼴 - 웹 폰트 */
    font-size:14px;     /* 글자 크기 */
}
h1 {
    font-size: 3rem;    /* 글자 크기 */
    letter-spacing: 0.6rem;  /* 자간 */
    padding-top: 1rem;   /* 위쪽 패딩 */
    padding-bottom: 1rem;   /*  아래쪽 패딩 */
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

.email-svg {
    width: 16px;
}
main {
    display: grid;    /* css grid 사용 */
    grid-template-columns: 40% 60%; /* 왼쪽 40%, 오른쪽 60% */
    margin-top: 3rem;
}
header {
    text-align: center;
    margin: auto 2rem;
}

section {
    margin: auto 1rem 4rem 2rem;
}

p {
    margin: 0.2rem auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100; 
    margin-bottom: 0;
}

i {
    margin-right: 0.5rem;    /* SNS 아이콘 오른쪽 여백 */
}
#mainLeft {
    border-right: 1px solid lightgray;
}

.info-box{
    display: flex;
    text-align: center;
}

.blog-icon {
    width: 16px;
}

.projecrt-box{
    display: flex;
}

.box-left{
    margin-right: 20px;
}

.box-right{
    width: 600px;
}

.projet-img{
    cursor: pointer;
    width: 300px;
    margin-bottom: 20px;
}

.stack-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.stack-img img{
    width: 50px;
    margin-right: 5px;
}

#html-css-js{
    width: 140px;
    height: 60px;
}

.line {
    border-bottom: 1px solid black;
    margin: 20px 0;
}

.my-img{
    width: 30%;
    border-radius: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

.my-img img{
    width: 100%;
}

.stack-box{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.stack-box-left{
    text-align: center;
    width: 20%;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 700;
}

.stack-box-right{
    display: flex;
    align-items: center;
    width: 100%;
}

.stack-box-right img{
   width: 20%;
   margin-right: 10px;
}

#html-stack {
    width: 250px;
    height: 110px;
}

@media(max-width : 760px){
    main{
        display: block;
        grid-template-columns: 40% 60%; 
        margin-top: 3rem;
    }

    .projecrt-box{
        display: block;
    }

    .box-right {
        width: 100%;
    }

    .box-left{
        margin-bottom: 20px;
    }

    .projet-img {
        cursor: pointer;
        width: 300px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .stack-box-right img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
     }

     #html-stack {
        width: 130px;
        height: 60px;
    }
}